<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZL;NG Daily</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
{% include "header.html" %}
<body>
<div class="container">
    <h1>Daily ZL;NG</h1>
    <p class="lead">Die News von Gestern, das isch mer Z Läng; Nid Gäse</p>
    <!-- Article block -->
    {% include "articles.html" %}
    {% include "footer.html" %}
</div>
</body>
</html>
